In [1]:
# Keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Flatten, LSTM, Conv1D, MaxPooling1D, Dropout, Activation
from keras.layers.embeddings import Embedding

## Plot
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
import matplotlib as plt

# NLTK
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

# Other
import re
import string
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE

In [ ]:
df = pd.read_csv('Processed_Data.csv',lineterminator='\n')
df

        Unnamed: 0  ...                                   processed_tweets
0                0  ...  aussie would happy series happen midst olympic...
1                1  ...  worst thing olympics finish whole week availab...
2                2  ...  olympics play india hockey captain ranirampal ...
3                3  ...  see best moment tokyo close ceremony videoelep...
4                4  ...  fabulous olympics lovethebbc tokyo olympics bb...
...            ...  ...                                                ...
140242      140242  ...  congratulation winner participant olympics win...
140243      140243  ...                    hope wrong see tweet government
140244      140244  ...  tokyo pass baton paris strangest ever olympic ...
140245      140245  ...  paris plan deliver inclusive youth centre gend...
140246      140246  ...  tokyo game could yet positive legacy despite u...

[140247 rows x 6 columns]

In [ ]:
df = df.dropna()
df = df[df['processed_tweets'].apply(lambda x: x !="")]

In [ ]:
df.describe()

          Unnamed: 0      sentiment
count  139715.000000  139715.000000
mean    70096.224908       0.176834
std     40503.120258       0.317648
min         0.000000      -1.000000
25%     35003.500000       0.000000
50%     70027.000000       0.000000
75%    105194.500000       0.375000
max    140246.000000       1.000000

converting the classes into mainly two category of Positive and Negetive.

In [ ]:
def ratio(x):
  if x=='Positive':
    return 1
  else:
    return 0;

In [ ]:
label = df['class'].apply(ratio)
label

0         1
1         0
2         0
3         1
4         1
         ..
140242    1
140243    0
140244    0
140245    0
140246    1
Name: class, Length: 139715, dtype: int64

In [ ]:
vocabulary_size = 20000
tokenizer = Tokenizer(num_words= vocabulary_size)
tokenizer.fit_on_texts(df['processed_tweets'])

sequences = tokenizer.texts_to_sequences(df['processed_tweets'])
data = pad_sequences(sequences, maxlen=50)

In [ ]:
data

array([[    0,     0,     0, ...,    54,  1035,   134],
       [    0,     0,     0, ...,   422,   255,  2472],
       [    0,     0,     0, ...,  1282, 10026,   291],
       ...,
       [    0,     0,     0, ...,    10,    41,    47],
       [    0,     0,     0, ...,   906,  1338,    10],
       [    0,     0,     0, ...,   224,  1140,   326]], dtype=int32)

In [ ]:
print(data.shape)

(139715, 50)

Building LSTM first.

In [ ]:
model_lstm = Sequential()
model_lstm.add(Embedding(20000, 100, input_length=50))
model_lstm.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model_lstm.add(Dense(1, activation='sigmoid'))
model_lstm.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [ ]:
model_lstm.fit(data, np.array(label), validation_split=0.4, epochs=3)

Epoch 1/3
2620/2620 [==============================] - 769s 291ms/step - loss: 0.2665 - accuracy: 0.8996 - val_loss: 0.2494 - val_accuracy: 0.9096
Epoch 2/3
2620/2620 [==============================] - 768s 293ms/step - loss: 0.1702 - accuracy: 0.9394 - val_loss: 0.2465 - val_accuracy: 0.9121
Epoch 3/3
2620/2620 [==============================] - 779s 297ms/step - loss: 0.1297 - accuracy: 0.9539 - val_loss: 0.2692 - val_accuracy: 0.9121

In [ ]:
test_data = data[83829:139715]
test_data

array([[    0,     0,     0, ...,   955,  5731,  1507],
       [    0,     0,     0, ...,    85,  6794,  4110],
       [    0,     0,     0, ...,  3004,   402, 12922],
       ...,
       [    0,     0,     0, ...,    10,    41,    47],
       [    0,     0,     0, ...,   906,  1338,    10],
       [    0,     0,     0, ...,   224,  1140,   326]], dtype=int32)

In [ ]:
test_label = label[83829:139715]
test_label

84126     1
84127     1
84128     0
84129     1
84130     1
         ..
140242    1
140243    0
140244    0
140245    0
140246    1
Name: class, Length: 55886, dtype: int64

In [ ]:
model_lstm.evaluate(test_data, test_label)

1747/1747 [==============================] - 36s 21ms/step - loss: 0.2692 - accuracy: 0.9121

[0.2691876292228699, 0.9121246933937073]